# Gerenciado pelo Ansible — CDPNI
source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

auto {{ server.iface }}
iface {{ server.iface }} inet static
    address {{ server.ip }}/{{ server.mask }}
    gateway {{ server.gateway }}
